<script setup>
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'

import { MapBrowserEvent } from "ol";
import Feature from "ol/Feature";

import GeoJSON from "ol/format/GeoJSON";
import {
  LineString,
  MultiLineString,
  MultiPoint,
  MultiPolygon,
  Point,
  Polygon,
} from "ol/geom";
import { transform } from "ol/proj";


import axios from 'axios';
import 'vue3-openlayers/dist/vue3-openlayers.css';

import { ref, inject, onMounted } from "vue";

const center = ref([57.708870, 11.974560]);
const projection = ref("EPSG:900913");
const zoom = ref(6);
const rotation = ref(0);

const features = ref([]);
const view = ref(null);

const currentCenter = ref(center.value);
const currentZoom = ref(zoom.value);
const currentRotation = ref(rotation.value);
const currentResolution = ref(0);

const url = ref("http://tiles.openseamap.org/seamark/{z}/{x}/{y}.png");
const layerName = ref("seamark");
const matrixSet = ref("GoogleMapsCompatible");
const format = ref("image/png");
const styleName = ref("default");
const attribution = ref(
  'Tiles © <a href="https://map.openseamap.org/">OpenSeaMap</a>',
);

const otmurl = ref("https://{a-c}.tile.opentopomap.org/{z}/{x}/{y}.png")
const otmattribution =  ref(
  'Tiles © <a href="https://wiki.openstreetmap.org/wiki/OpenTopoMap#Usage">OpenTopoMap</a>',
);

const martinUrlPorts = "http://0.0.0.0:8090/ne_ports/{z}/{x}/{y}"
const martinUrld0 = "http://0.0.0.0:8090/ne_depth_0/{z}/{x}/{y}"
const martinUrld200 = "http://0.0.0.0:8090/ne_depth_200/{z}/{x}/{y}"
const martinUrld1000 = "http://0.0.0.0:8090/ne_depth_1000/{z}/{x}/{y}"

const martinUrlVoyageSegments = "http://0.0.0.0:8090/long_voyages/{z}/{x}/{y}"

const olformat = inject("ol-format");
const mvtFormat = new olformat.MVT();


 
function resolutionChanged(event) {
  currentResolution.value = event.target.getResolution();
  currentZoom.value = event.target.getZoom();
}
function centerChanged(event) {
  currentCenter.value = event.target.getCenter();
}
function rotationChanged(event) {
  currentRotation.value = event.target.getRotation();
}

const loadVoyages = async () => {
    try {
      const response = await axios.get('http://localhost:/voyages'); // Replace with your PostgREST endpoint
      const voyages = response.data;

      voyages.forEach((voyage) => {
        const coords = voyage.route.coordinates.map((coord) =>
          fromLonLat(coord)
        );
        const lineString = new LineString(coords);
        const feature = new Feature({
          geometry: lineString,
        });
        vectorLayer.value.getSource().addFeature(feature);
      });
    } catch (error) {
      console.error('Failed to load voyages:', error);
    }
  };


  async function fetchVoyageSegments() {
  try {
    // Replace the URL with your actual PostgREST API endpoint for fetching the voyage_segments
    const response = await axios.get('https://localhost:8080/voyage_segments?ship_id=eq.80');

    const voyageSegments = response.data;

    // Parse the GeoJSON data from the ais_data field
    voyageSegments.forEach((segment) => {
      const geoJSONFeature = new ol.format.GeoJSON().readFeature(segment.ais_data, {
        featureProjection: 'EPSG:4326', // Ensure the features are projected correctly
      });
      features.value.push(geoJSONFeature);
    });
  } catch (error) {
    console.error('Error fetching voyage segments:', error);
  }
}

// onMounted(() => {
//   fetchVoyageSegments();
// });


</script>

<template>

  <ol-map 
  class="ol-map"
  :loadTilesWhileAnimating="true"
  :loadTilesWhileInteracting="true"
  >
    <ol-view
      ref="view"
      :center="center"
      :rotation="rotation"
      :zoom="zoom"
      :projection="projection"
      @change:center="centerChanged"
      @change:resolution="resolutionChanged"
      @change:rotation="rotationChanged"
    />

    <ol-layerswitcherimage-control />

    <ol-tile-layer  ref="osmLayer" title="OSM" >
      <ol-source-osm />
    </ol-tile-layer>

    <ol-tile-layer  ref="otmLayer" title="OTM" >
      <ol-source-xyz
        :attributions="otmattribution"
        :url="otmurl"
        :format="format"
      ></ol-source-xyz>
    </ol-tile-layer>

    <ol-tile-layer 
    :opacity="0.7"
    ref="seaMapLayer"
    title="seamap"
    >
      <ol-source-xyz
        :attributions="attribution"
        :url="url"
        :matrixSet="matrixSet"
        :format="format"
        :layer="layerName"
        :styles="styleName"
      ></ol-source-xyz>
    </ol-tile-layer>

    <ol-vector-tile-layer
    ref="MartinLayer1"
    title="ports"
    >
      <ol-source-vector-tile :url="martinUrlPorts" :format="mvtFormat">
      </ol-source-vector-tile>
    </ol-vector-tile-layer>

    <ol-vector-tile-layer
    ref="MartinLayer2"
    title="d0"
    >
      <ol-source-vector-tile :url="martinUrld0" :format="mvtFormat">
      </ol-source-vector-tile>
    </ol-vector-tile-layer>


    <ol-vector-tile-layer
    ref="MartinLayer3"
    title="d200"
    >
      <ol-source-vector-tile :url="martinUrld200" :format="mvtFormat">
      </ol-source-vector-tile>
    </ol-vector-tile-layer>
    
    <ol-vector-tile-layer
    ref="MartinLayer4"
    title="d1000"
    >
      <ol-source-vector-tile :url="martinUrld1000" :format="mvtFormat">
      </ol-source-vector-tile>
    </ol-vector-tile-layer>

    <ol-vector-tile-layer
    ref="MartinLayer5"
    title="voyages"
    >
      <ol-source-vector-tile :url="martinUrlVoyageSegments" :format="mvtFormat">
      </ol-source-vector-tile>
    </ol-vector-tile-layer>

    <!-- <ol-vector-layer
      ref="voyages_postgrest"
      title="voyages"
    >
      <ol-source-vector :features="features" />
      <ol-style>
        <ol-style-stroke color="#bb2233" :width="2" />
      </ol-style>
    </ol-vector-layer> -->





    <ol-rotate-control></ol-rotate-control>
    <ol-interaction-link />
  </ol-map>

  <!-- <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="125" height="125" />
    <div class="wrapper">
      <HelloWorld msg="You did it!" />
      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
      </nav>
    </div> -->
  <!-- <RouterView /> -->

</template>

<style scoped>


.ol-map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* .ol-map-loading:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  border: 5px solid rgba(180, 180, 180, 0.6);
  border-top-color: var(--vp-c-brand-1);
  animation: spinner 0.6s linear infinite;
}  */

 @keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

</style>
